In [79]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [80]:
df = pd.read_excel(r"C:\Users\ASUS\Documents\GUVI ZEN CLASSES\MAINT BOOT\Dummy\dummy_wastage_data_modified.xlsx")
df

      item_name item_category  purity  frmwt  towt  wadtage
0   BABY BANGLE        BOMBAY      22    1.0   2.0     15.0
1   BABY BANGLE        BOMBAY      22    2.0   4.0     15.0
2   BABY BANGLE        BOMBAY      22    4.0   8.0     15.0
3   BABY BANGLE     BOMBAY_SL      22    1.5   2.5     15.0
4   BABY BANGLE     BOMBAY_SL      22    3.0   5.0     15.0
5   BABY BANGLE     BOMBAY_SL      22    5.0   9.0     15.0
6     GOLD RING         DELHI      18    0.5   1.5     12.5
7     GOLD RING         DELHI      18    1.5   2.5     12.5
8     GOLD RING         DELHI      18    2.5   4.0     12.5
9     GOLD RING      DELHI_SL      18    0.6   1.4     12.5
10    GOLD RING      DELHI_SL      18    1.6   2.6     12.5
11    GOLD RING      DELHI_SL      18    2.8   4.5     12.5

In [81]:
wt_range = df.groupby(['item_name','item_category']).agg(min_wt = ('frmwt','min'),max_wt = ('towt','max')).reset_index()
wt_range

     item_name item_category  min_wt  max_wt
0  BABY BANGLE        BOMBAY     1.0     8.0
1  BABY BANGLE     BOMBAY_SL     1.5     9.0
2    GOLD RING         DELHI     0.5     4.0
3    GOLD RING      DELHI_SL     0.6     4.5

In [82]:
df = df.merge(wt_range,on=['item_name','item_category'],how='left')
df

      item_name item_category  purity  frmwt  towt  wadtage  min_wt  max_wt
0   BABY BANGLE        BOMBAY      22    1.0   2.0     15.0     1.0     8.0
1   BABY BANGLE        BOMBAY      22    2.0   4.0     15.0     1.0     8.0
2   BABY BANGLE        BOMBAY      22    4.0   8.0     15.0     1.0     8.0
3   BABY BANGLE     BOMBAY_SL      22    1.5   2.5     15.0     1.5     9.0
4   BABY BANGLE     BOMBAY_SL      22    3.0   5.0     15.0     1.5     9.0
5   BABY BANGLE     BOMBAY_SL      22    5.0   9.0     15.0     1.5     9.0
6     GOLD RING         DELHI      18    0.5   1.5     12.5     0.5     4.0
7     GOLD RING         DELHI      18    1.5   2.5     12.5     0.5     4.0
8     GOLD RING         DELHI      18    2.5   4.0     12.5     0.5     4.0
9     GOLD RING      DELHI_SL      18    0.6   1.4     12.5     0.6     4.5
10    GOLD RING      DELHI_SL      18    1.6   2.6     12.5     0.6     4.5
11    GOLD RING      DELHI_SL      18    2.8   4.5     12.5     0.6     4.5

In [83]:
df.drop(columns=['frmwt','towt'],inplace=True)

In [84]:
df

      item_name item_category  purity  wadtage  min_wt  max_wt
0   BABY BANGLE        BOMBAY      22     15.0     1.0     8.0
1   BABY BANGLE        BOMBAY      22     15.0     1.0     8.0
2   BABY BANGLE        BOMBAY      22     15.0     1.0     8.0
3   BABY BANGLE     BOMBAY_SL      22     15.0     1.5     9.0
4   BABY BANGLE     BOMBAY_SL      22     15.0     1.5     9.0
5   BABY BANGLE     BOMBAY_SL      22     15.0     1.5     9.0
6     GOLD RING         DELHI      18     12.5     0.5     4.0
7     GOLD RING         DELHI      18     12.5     0.5     4.0
8     GOLD RING         DELHI      18     12.5     0.5     4.0
9     GOLD RING      DELHI_SL      18     12.5     0.6     4.5
10    GOLD RING      DELHI_SL      18     12.5     0.6     4.5
11    GOLD RING      DELHI_SL      18     12.5     0.6     4.5

In [85]:
df['weight'] = df['min_wt'].astype(str)+'-'+df['max_wt'].astype(str)
df

      item_name item_category  purity  wadtage  min_wt  max_wt   weight
0   BABY BANGLE        BOMBAY      22     15.0     1.0     8.0  1.0-8.0
1   BABY BANGLE        BOMBAY      22     15.0     1.0     8.0  1.0-8.0
2   BABY BANGLE        BOMBAY      22     15.0     1.0     8.0  1.0-8.0
3   BABY BANGLE     BOMBAY_SL      22     15.0     1.5     9.0  1.5-9.0
4   BABY BANGLE     BOMBAY_SL      22     15.0     1.5     9.0  1.5-9.0
5   BABY BANGLE     BOMBAY_SL      22     15.0     1.5     9.0  1.5-9.0
6     GOLD RING         DELHI      18     12.5     0.5     4.0  0.5-4.0
7     GOLD RING         DELHI      18     12.5     0.5     4.0  0.5-4.0
8     GOLD RING         DELHI      18     12.5     0.5     4.0  0.5-4.0
9     GOLD RING      DELHI_SL      18     12.5     0.6     4.5  0.6-4.5
10    GOLD RING      DELHI_SL      18     12.5     0.6     4.5  0.6-4.5
11    GOLD RING      DELHI_SL      18     12.5     0.6     4.5  0.6-4.5

In [86]:
df.drop(columns=['min_wt','max_wt'],inplace=True)

In [87]:
df

      item_name item_category  purity  wadtage   weight
0   BABY BANGLE        BOMBAY      22     15.0  1.0-8.0
1   BABY BANGLE        BOMBAY      22     15.0  1.0-8.0
2   BABY BANGLE        BOMBAY      22     15.0  1.0-8.0
3   BABY BANGLE     BOMBAY_SL      22     15.0  1.5-9.0
4   BABY BANGLE     BOMBAY_SL      22     15.0  1.5-9.0
5   BABY BANGLE     BOMBAY_SL      22     15.0  1.5-9.0
6     GOLD RING         DELHI      18     12.5  0.5-4.0
7     GOLD RING         DELHI      18     12.5  0.5-4.0
8     GOLD RING         DELHI      18     12.5  0.5-4.0
9     GOLD RING      DELHI_SL      18     12.5  0.6-4.5
10    GOLD RING      DELHI_SL      18     12.5  0.6-4.5
11    GOLD RING      DELHI_SL      18     12.5  0.6-4.5

In [88]:
cols = df.columns.tolist()
cols

['item_name', 'item_category', 'purity', 'wadtage', 'weight']

In [89]:
wt = cols.pop()
wt

'weight'

In [90]:
cols.insert(3,wt)
cols

['item_name', 'item_category', 'purity', 'weight', 'wadtage']

In [91]:
df = df[cols]
df

      item_name item_category  purity   weight  wadtage
0   BABY BANGLE        BOMBAY      22  1.0-8.0     15.0
1   BABY BANGLE        BOMBAY      22  1.0-8.0     15.0
2   BABY BANGLE        BOMBAY      22  1.0-8.0     15.0
3   BABY BANGLE     BOMBAY_SL      22  1.5-9.0     15.0
4   BABY BANGLE     BOMBAY_SL      22  1.5-9.0     15.0
5   BABY BANGLE     BOMBAY_SL      22  1.5-9.0     15.0
6     GOLD RING         DELHI      18  0.5-4.0     12.5
7     GOLD RING         DELHI      18  0.5-4.0     12.5
8     GOLD RING         DELHI      18  0.5-4.0     12.5
9     GOLD RING      DELHI_SL      18  0.6-4.5     12.5
10    GOLD RING      DELHI_SL      18  0.6-4.5     12.5
11    GOLD RING      DELHI_SL      18  0.6-4.5     12.5

In [94]:
df.drop_duplicates(subset=['item_name','item_category'],keep='first',inplace=True)

In [95]:
df

     item_name item_category  purity   weight  wadtage
0  BABY BANGLE        BOMBAY      22  1.0-8.0     15.0
3  BABY BANGLE     BOMBAY_SL      22  1.5-9.0     15.0
6    GOLD RING         DELHI      18  0.5-4.0     12.5
9    GOLD RING      DELHI_SL      18  0.6-4.5     12.5