In [104]:
import pandas as pd
import time
from PIL import Image
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from selenium.common.exceptions import NoAlertPresentException
import os
from selenium.webdriver.support.ui import Select
from selenium.webdriver.chrome.options import Options
from datetime import date
from selenium.webdriver.common.keys import Keys
import easyocr
import warnings
warnings.filterwarnings('ignore')
import  matplotlib.pyplot as plt
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoAlertPresentException
import time
import math
import re
from selenium.common.exceptions import NoAlertPresentException, TimeoutException
from selenium.webdriver.common.alert import Alert
import pyautogui
import pygetwindow as gw

In [105]:
file_path = r"C:\Users\DELL\Documents\eway\city_files\trichy.xlsx"

# Step 1: Load Excel file
xls = pd.ExcelFile(file_path)

# Step 2: Read last sheet
df= pd.read_excel(file_path, sheet_name=xls.sheet_names[0],header=None)

df

,0,1,2,3,4,5,6,7
0,BHIMA JEWELLERY MADURAI - HO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"196 2ND FLOOR , SUBA SHRI ARUN COMPLEX",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MADURAI - 625016,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GSTIN - 33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Delivery Challan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Delivery Challan No,NaN,DC - CHOHB -1789,NaN,NaN,NaN,NaN,NaN
6,Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
7,Supporting Document No,NaN,CHOHB -1789,NaN,NaN,NaN,NaN,NaN
8,Supporting Document Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
9,Details of the \nRecipient/Consignee ( Job Wor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Name,NaN,BHIMA JEWELLERY TRICHY,NaN,NaN,NaN,NaN,NaN
11,Address with \nPincode,NaN,32/33 CHINNA KADAI VEEDHI,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NSB ROAD,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,TRICHY,NaN,NaN,NaN,NaN,NaN
14,State,NaN,TAMIL NADU,NaN,NaN,NaN,NaN,NaN
15,State Code,NaN,33,NaN,NaN,Place of Supply,NaN,TAMIL NADU
16,GSTIN,NaN,33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN
17,Sl. No,Description of \nGoods for Job Work with Purpose,HSN \nCode,Quantity\n,NaN,NaN,Rate per \nGram,Value
18,NaN,NaN,NaN,Gross Weight\n(Gms)\n,Stone Weight\n(CTS],Net Weight\n(Gms),NaN,NaN
19,1,NEW GOLD ORNAMENTS,71131910,345.08,NaN,345.08,519.061058,179117.59
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Total,NaN,NaN,345.08,0,345.08,NaN,179117.59
33,Purpose: STOCK TRANSFER TO TCY BRANCH,NaN,NaN,NaN,Value of Supply,GST Rate,Type of GST,NaN
34,NaN,NaN,NaN,NaN,179117.59,0.03,CGST,2686.76385
35,NaN,NaN,NaN,NaN,NaN,NaN,SGST,2686.76385
36,NaN,NaN,NaN,NaN,NaN,NaN,IGST,0
37,NaN,NaN,NaN,NaN,NaN,0.18,CGST,0
38,NaN,NaN,NaN,NaN,NaN,NaN,SGST,0
39,NaN,NaN,NaN,NaN,NaN,NaN,IGST,0
40,NaN,NaN,NaN,NaN,NaN,Grand Total,NaN,184491
41,Total Amount in Words,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
df = df.dropna(how="all",axis=0).dropna(how="all",axis=1)
df =df.reset_index(drop=True)
df

,0,1,2,3,4,5,6,7
0,BHIMA JEWELLERY MADURAI - HO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"196 2ND FLOOR , SUBA SHRI ARUN COMPLEX",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MADURAI - 625016,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GSTIN - 33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Delivery Challan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Delivery Challan No,NaN,DC - CHOHB -1789,NaN,NaN,NaN,NaN,NaN
6,Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
7,Supporting Document No,NaN,CHOHB -1789,NaN,NaN,NaN,NaN,NaN
8,Supporting Document Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
9,Details of the \nRecipient/Consignee ( Job Wor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Name,NaN,BHIMA JEWELLERY TRICHY,NaN,NaN,NaN,NaN,NaN
11,Address with \nPincode,NaN,32/33 CHINNA KADAI VEEDHI,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NSB ROAD,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,TRICHY,NaN,NaN,NaN,NaN,NaN
14,State,NaN,TAMIL NADU,NaN,NaN,NaN,NaN,NaN
15,State Code,NaN,33,NaN,NaN,Place of Supply,NaN,TAMIL NADU
16,GSTIN,NaN,33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN
17,Sl. No,Description of \nGoods for Job Work with Purpose,HSN \nCode,Quantity\n,NaN,NaN,Rate per \nGram,Value
18,NaN,NaN,NaN,Gross Weight\n(Gms)\n,Stone Weight\n(CTS],Net Weight\n(Gms),NaN,NaN
19,1,NEW GOLD ORNAMENTS,71131910,345.08,NaN,345.08,519.061058,179117.59
20,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
21,Total,NaN,NaN,345.08,0,345.08,NaN,179117.59
22,Purpose: STOCK TRANSFER TO TCY BRANCH,NaN,NaN,NaN,Value of Supply,GST Rate,Type of GST,NaN
23,NaN,NaN,NaN,NaN,179117.59,0.03,CGST,2686.76385
24,NaN,NaN,NaN,NaN,NaN,NaN,SGST,2686.76385
25,NaN,NaN,NaN,NaN,NaN,NaN,IGST,0
26,NaN,NaN,NaN,NaN,NaN,0.18,CGST,0
27,NaN,NaN,NaN,NaN,NaN,NaN,SGST,0
28,NaN,NaN,NaN,NaN,NaN,NaN,IGST,0
29,NaN,NaN,NaN,NaN,NaN,Grand Total,NaN,184491
30,Total Amount in Words,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
df.iloc[:,0] = df.iloc[:,0].astype(str).str.replace(r"[\n\t]+"," ",regex=True).str.strip()

In [108]:
new_lst = [df.loc[j,i] for i in df.columns for j in df.index]
new_lst

['BHIMA JEWELLERY MADURAI - HO',
 '196 2ND FLOOR , SUBA SHRI ARUN COMPLEX',
 'MADURAI - 625016',
 'GSTIN - 33AAIFB1068K1ZJ',
 'Delivery Challan',
 'Delivery Challan No',
 'Date',
 'Supporting Document No',
 'Supporting Document Date',
 'Details of the  Recipient/Consignee ( Job Worker)',
 'Name',
 'Address with  Pincode',
 'nan',
 'nan',
 'State',
 'State Code',
 'GSTIN',
 'Sl. No',
 'nan',
 '1',
 'nan',
 'Total',
 'Purpose: STOCK TRANSFER  TO TCY BRANCH',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'Total Amount in Words',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Description of \nGoods for Job Work with Purpose',
 nan,
 'NEW GOLD ORNAMENTS',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'DC - CHOHB -1789',
 datetime.datetime(2025, 8, 22, 0, 0),
 'CHOHB -1789',
 datetime.datetime(2025, 8, 22, 0, 0),
 nan,
 'BHIMA JEWELLERY TRICHY',
 '32/33 CHINNA KADAI VEEDHI',
 'NSB ROAD',
 'TRICHY',
 'TAMIL NADU',
 33,
 '33AAIFB1068K1ZJ',
 'HSN \nCode',
 nan,
 71131910,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Quantity\n',
 'Gross Weight\n(Gms)\n',
 345.08,
 nan,
 345.08,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Stone Weight\n(CTS]',
 nan,
 nan,
 0,
 'Value of Supply',
 179117.59,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Place of Supply',
 nan,
 nan,
 'Net Weight\n(Gms)',
 345.08,
 nan,
 345.08,
 'GST Rate',
 0.03,
 nan,
 nan,
 0.18,
 nan,
 nan,
 'Grand Total',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Rate per \nGram',
 nan,
 519.0610583053206,
 ' ',
 nan,
 'Type of GST',
 'CGST',
 'SGST',
 'IGST',
 'CGST',
 'SGST',
 'IGST',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'TAMIL NADU',
 nan,
 'Value',
 nan,
 179117.59,
 nan,
 179117.59,
 nan,
 2686.76385,
 2686.76385,
 0,
 0,
 0,
 0,
 184491,
 nan]

In [109]:
new_lst = [str(i).replace('\n','') for i in new_lst]
new_lst

['BHIMA JEWELLERY MADURAI - HO',
 '196 2ND FLOOR , SUBA SHRI ARUN COMPLEX',
 'MADURAI - 625016',
 'GSTIN - 33AAIFB1068K1ZJ',
 'Delivery Challan',
 'Delivery Challan No',
 'Date',
 'Supporting Document No',
 'Supporting Document Date',
 'Details of the  Recipient/Consignee ( Job Worker)',
 'Name',
 'Address with  Pincode',
 'nan',
 'nan',
 'State',
 'State Code',
 'GSTIN',
 'Sl. No',
 'nan',
 '1',
 'nan',
 'Total',
 'Purpose: STOCK TRANSFER  TO TCY BRANCH',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'Total Amount in Words',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'Description of Goods for Job Work with Purpose',
 'nan',
 'NEW GOLD ORNAMENTS',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'DC - CHOHB -1789',
 '2025-08-22 00:00:00',
 'CHOHB -1789',
 '2025-08-22 00:00:00',
 'nan',
 'BHIMA JEWELLERY TRICHY',
 '32/33 CHINNA KADAI VEEDHI',
 'NSB ROAD',
 'TRICHY',
 'TAMIL NADU',
 '33',
 '33AAIFB1068K1ZJ',
 'HSN Code',
 'nan',
 '71131910',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'Quantity',
 'Gross Weight(Gms)',
 '345.08',
 'nan',
 '345.08',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'Stone Weight(CTS]',
 'nan',
 'nan',
 '0',
 'Value of Supply',
 '179117.59',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'Place of Supply',
 'nan',
 'nan',
 'Net Weight(Gms)',
 '345.08',
 'nan',
 '345.08',
 'GST Rate',
 '0.03',
 'nan',
 'nan',
 '0.18',
 'nan',
 'nan',
 'Grand Total',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'Rate per Gram',
 'nan',
 '519.0610583053206',
 ' ',
 'nan',
 'Type of GST',
 'CGST',
 'SGST',
 'IGST',
 'CGST',
 'SGST',
 'IGST',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'TAMIL NADU',
 'nan',
 'Value',
 'nan',
 '179117.59',
 'nan',
 '179117.59',
 'nan',
 '2686.76385',
 '2686.76385',
 '0',
 '0',
 '0',
 '0',
 '184491',
 'nan']

In [110]:
new_lst = [x for x in new_lst if x != 'nan']
new_lst

['BHIMA JEWELLERY MADURAI - HO',
 '196 2ND FLOOR , SUBA SHRI ARUN COMPLEX',
 'MADURAI - 625016',
 'GSTIN - 33AAIFB1068K1ZJ',
 'Delivery Challan',
 'Delivery Challan No',
 'Date',
 'Supporting Document No',
 'Supporting Document Date',
 'Details of the  Recipient/Consignee ( Job Worker)',
 'Name',
 'Address with  Pincode',
 'State',
 'State Code',
 'GSTIN',
 'Sl. No',
 '1',
 'Total',
 'Purpose: STOCK TRANSFER  TO TCY BRANCH',
 'Total Amount in Words',
 'Description of Goods for Job Work with Purpose',
 'NEW GOLD ORNAMENTS',
 'DC - CHOHB -1789',
 '2025-08-22 00:00:00',
 'CHOHB -1789',
 '2025-08-22 00:00:00',
 'BHIMA JEWELLERY TRICHY',
 '32/33 CHINNA KADAI VEEDHI',
 'NSB ROAD',
 'TRICHY',
 'TAMIL NADU',
 '33',
 '33AAIFB1068K1ZJ',
 'HSN Code',
 '71131910',
 'Quantity',
 'Gross Weight(Gms)',
 '345.08',
 '345.08',
 'Stone Weight(CTS]',
 '0',
 'Value of Supply',
 '179117.59',
 'Place of Supply',
 'Net Weight(Gms)',
 '345.08',
 '345.08',
 'GST Rate',
 '0.03',
 '0.18',
 'Grand Total',
 'Rate per Gram',
 '519.0610583053206',
 ' ',
 'Type of GST',
 'CGST',
 'SGST',
 'IGST',
 'CGST',
 'SGST',
 'IGST',
 'TAMIL NADU',
 'Value',
 '179117.59',
 '179117.59',
 '2686.76385',
 '2686.76385',
 '0',
 '0',
 '0',
 '0',
 '184491']

In [111]:
data_d = {}

In [112]:
gst_no = ''
for gst in new_lst:
    if str(gst).startswith('GSTIN'):
        for j in gst:
            gst_no = gst_no+j
gst_no = gst_no.split('-')[1].strip()
gst_no

'33AAIFB1068K1ZJGSTIN'

In [113]:
gst = ''
for i in new_lst:
    if str(i).isalnum():
        if str(i).endswith('J'):
            gst = gst+str(i)
gst

'33AAIFB1068K1ZJ'

In [114]:
data_d['gst_no'] = gst_no
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN'}

In [115]:
df

,0,1,2,3,4,5,6,7
0,BHIMA JEWELLERY MADURAI - HO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"196 2ND FLOOR , SUBA SHRI ARUN COMPLEX",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MADURAI - 625016,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GSTIN - 33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Delivery Challan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Delivery Challan No,NaN,DC - CHOHB -1789,NaN,NaN,NaN,NaN,NaN
6,Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
7,Supporting Document No,NaN,CHOHB -1789,NaN,NaN,NaN,NaN,NaN
8,Supporting Document Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
9,Details of the Recipient/Consignee ( Job Worker),NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Name,NaN,BHIMA JEWELLERY TRICHY,NaN,NaN,NaN,NaN,NaN
11,Address with Pincode,NaN,32/33 CHINNA KADAI VEEDHI,NaN,NaN,NaN,NaN,NaN
12,nan,NaN,NSB ROAD,NaN,NaN,NaN,NaN,NaN
13,nan,NaN,TRICHY,NaN,NaN,NaN,NaN,NaN
14,State,NaN,TAMIL NADU,NaN,NaN,NaN,NaN,NaN
15,State Code,NaN,33,NaN,NaN,Place of Supply,NaN,TAMIL NADU
16,GSTIN,NaN,33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN
17,Sl. No,Description of \nGoods for Job Work with Purpose,HSN \nCode,Quantity\n,NaN,NaN,Rate per \nGram,Value
18,nan,NaN,NaN,Gross Weight\n(Gms)\n,Stone Weight\n(CTS],Net Weight\n(Gms),NaN,NaN
19,1,NEW GOLD ORNAMENTS,71131910,345.08,NaN,345.08,519.061058,179117.59
20,nan,NaN,NaN,NaN,NaN,NaN,,NaN
21,Total,NaN,NaN,345.08,0,345.08,NaN,179117.59
22,Purpose: STOCK TRANSFER TO TCY BRANCH,NaN,NaN,NaN,Value of Supply,GST Rate,Type of GST,NaN
23,nan,NaN,NaN,NaN,179117.59,0.03,CGST,2686.76385
24,nan,NaN,NaN,NaN,NaN,NaN,SGST,2686.76385
25,nan,NaN,NaN,NaN,NaN,NaN,IGST,0
26,nan,NaN,NaN,NaN,NaN,0.18,CGST,0
27,nan,NaN,NaN,NaN,NaN,NaN,SGST,0
28,nan,NaN,NaN,NaN,NaN,NaN,IGST,0
29,nan,NaN,NaN,NaN,NaN,Grand Total,NaN,184491
30,Total Amount in Words,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
hsn_lst =[]
for i in new_lst:
    if str(i).isdigit():
        if str(i).startswith('71'):
            hsn_lst.append(str(i))

In [117]:
hsn_lst

['71131910']

In [118]:
if len(hsn_lst)>1:
    hsn_lst = hsn_lst[0]
    hsn_lst = "".join(hsn_lst)
else:
    hsn_lst = "".join(hsn_lst)

In [119]:
hsn_lst

'71131910'

In [120]:
#hsn_lst = "".join(hsn_lst)

In [121]:
hsn_lst

'71131910'

In [122]:
#hsn_lst = hsn_lst.pop()
#hsn_lst

In [123]:
data_d['hsn_no'] = hsn_lst
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN', 'hsn_no': '71131910'}

In [124]:
unit_lst = ""
for i in new_lst:
    if str(i).startswith('Gross'):
        unit_lst = unit_lst+i
ind = unit_lst.find('Gms')
ind_1 = unit_lst[ind:]
ind_2 = "".join(re.findall('[a-zA-Z]',ind_1))
ind_2

'Gms'

In [125]:
data_d['units'] = ind_2
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN', 'hsn_no': '71131910', 'units': 'Gms'}

In [126]:
new_lst

['BHIMA JEWELLERY MADURAI - HO',
 '196 2ND FLOOR , SUBA SHRI ARUN COMPLEX',
 'MADURAI - 625016',
 'GSTIN - 33AAIFB1068K1ZJ',
 'Delivery Challan',
 'Delivery Challan No',
 'Date',
 'Supporting Document No',
 'Supporting Document Date',
 'Details of the  Recipient/Consignee ( Job Worker)',
 'Name',
 'Address with  Pincode',
 'State',
 'State Code',
 'GSTIN',
 'Sl. No',
 '1',
 'Total',
 'Purpose: STOCK TRANSFER  TO TCY BRANCH',
 'Total Amount in Words',
 'Description of Goods for Job Work with Purpose',
 'NEW GOLD ORNAMENTS',
 'DC - CHOHB -1789',
 '2025-08-22 00:00:00',
 'CHOHB -1789',
 '2025-08-22 00:00:00',
 'BHIMA JEWELLERY TRICHY',
 '32/33 CHINNA KADAI VEEDHI',
 'NSB ROAD',
 'TRICHY',
 'TAMIL NADU',
 '33',
 '33AAIFB1068K1ZJ',
 'HSN Code',
 '71131910',
 'Quantity',
 'Gross Weight(Gms)',
 '345.08',
 '345.08',
 'Stone Weight(CTS]',
 '0',
 'Value of Supply',
 '179117.59',
 'Place of Supply',
 'Net Weight(Gms)',
 '345.08',
 '345.08',
 'GST Rate',
 '0.03',
 '0.18',
 'Grand Total',
 'Rate per Gram',
 '519.0610583053206',
 ' ',
 'Type of GST',
 'CGST',
 'SGST',
 'IGST',
 'CGST',
 'SGST',
 'IGST',
 'TAMIL NADU',
 'Value',
 '179117.59',
 '179117.59',
 '2686.76385',
 '2686.76385',
 '0',
 '0',
 '0',
 '0',
 '184491']

In [127]:
pse_s = []
for i in new_lst:
    if 'Purpose' in str(i):
        pse_s.append(i)
pse_s[0].split(":")[1].lstrip()

'STOCK TRANSFER  TO TCY BRANCH'

In [128]:
for i in new_lst:
    if 'STOCK' in str(i):
        stock_str= str(i)
st_1 = " ".join(stock_str[stock_str.find('STOCK'):].split(" ")[0:2])
st_1

'STOCK TRANSFER'

In [129]:
data_d['sub_type'] = st_1
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER'}

In [130]:
df

,0,1,2,3,4,5,6,7
0,BHIMA JEWELLERY MADURAI - HO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"196 2ND FLOOR , SUBA SHRI ARUN COMPLEX",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MADURAI - 625016,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GSTIN - 33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Delivery Challan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Delivery Challan No,NaN,DC - CHOHB -1789,NaN,NaN,NaN,NaN,NaN
6,Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
7,Supporting Document No,NaN,CHOHB -1789,NaN,NaN,NaN,NaN,NaN
8,Supporting Document Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
9,Details of the Recipient/Consignee ( Job Worker),NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Name,NaN,BHIMA JEWELLERY TRICHY,NaN,NaN,NaN,NaN,NaN
11,Address with Pincode,NaN,32/33 CHINNA KADAI VEEDHI,NaN,NaN,NaN,NaN,NaN
12,nan,NaN,NSB ROAD,NaN,NaN,NaN,NaN,NaN
13,nan,NaN,TRICHY,NaN,NaN,NaN,NaN,NaN
14,State,NaN,TAMIL NADU,NaN,NaN,NaN,NaN,NaN
15,State Code,NaN,33,NaN,NaN,Place of Supply,NaN,TAMIL NADU
16,GSTIN,NaN,33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN
17,Sl. No,Description of \nGoods for Job Work with Purpose,HSN \nCode,Quantity\n,NaN,NaN,Rate per \nGram,Value
18,nan,NaN,NaN,Gross Weight\n(Gms)\n,Stone Weight\n(CTS],Net Weight\n(Gms),NaN,NaN
19,1,NEW GOLD ORNAMENTS,71131910,345.08,NaN,345.08,519.061058,179117.59
20,nan,NaN,NaN,NaN,NaN,NaN,,NaN
21,Total,NaN,NaN,345.08,0,345.08,NaN,179117.59
22,Purpose: STOCK TRANSFER TO TCY BRANCH,NaN,NaN,NaN,Value of Supply,GST Rate,Type of GST,NaN
23,nan,NaN,NaN,NaN,179117.59,0.03,CGST,2686.76385
24,nan,NaN,NaN,NaN,NaN,NaN,SGST,2686.76385
25,nan,NaN,NaN,NaN,NaN,NaN,IGST,0
26,nan,NaN,NaN,NaN,NaN,0.18,CGST,0
27,nan,NaN,NaN,NaN,NaN,NaN,SGST,0
28,nan,NaN,NaN,NaN,NaN,NaN,IGST,0
29,nan,NaN,NaN,NaN,NaN,Grand Total,NaN,184491
30,Total Amount in Words,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
df.loc[19,1]

'NEW GOLD ORNAMENTS'

In [132]:
for i in new_lst:
    if 'ORNAMENTS' and 'COIN'in str(i):
        print(i)

In [133]:
ornaments_lst = []
for i in new_lst:
    if any(x in str(i) for x in ['ORNAMENTS', 'COIN', 'BULLION']):
        ornaments_lst.append(i)
if len(ornaments_lst)>1:
    ornments = ornaments_lst.pop()
    ornaments_lst_1 = "".join(ornaments_lst)
    print(ornaments_lst_1)
else:
    ornaments_lst_1 = "".join(ornaments_lst)

In [134]:
ornaments_lst_1

'NEW GOLD ORNAMENTS'

In [135]:
data_d['item'] = ornaments_lst_1
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS'}

In [136]:
new_d = {i:col for i,col in enumerate(new_lst)}
new_d

{0: 'BHIMA JEWELLERY MADURAI - HO',
 1: '196 2ND FLOOR , SUBA SHRI ARUN COMPLEX',
 2: 'MADURAI - 625016',
 3: 'GSTIN - 33AAIFB1068K1ZJ',
 4: 'Delivery Challan',
 5: 'Delivery Challan No',
 6: 'Date',
 7: 'Supporting Document No',
 8: 'Supporting Document Date',
 9: 'Details of the  Recipient/Consignee ( Job Worker)',
 10: 'Name',
 11: 'Address with  Pincode',
 12: 'State',
 13: 'State Code',
 14: 'GSTIN',
 15: 'Sl. No',
 16: '1',
 17: 'Total',
 18: 'Purpose: STOCK TRANSFER  TO TCY BRANCH',
 19: 'Total Amount in Words',
 20: 'Description of Goods for Job Work with Purpose',
 21: 'NEW GOLD ORNAMENTS',
 22: 'DC - CHOHB -1789',
 23: '2025-08-22 00:00:00',
 24: 'CHOHB -1789',
 25: '2025-08-22 00:00:00',
 26: 'BHIMA JEWELLERY TRICHY',
 27: '32/33 CHINNA KADAI VEEDHI',
 28: 'NSB ROAD',
 29: 'TRICHY',
 30: 'TAMIL NADU',
 31: '33',
 32: '33AAIFB1068K1ZJ',
 33: 'HSN Code',
 34: '71131910',
 35: 'Quantity',
 36: 'Gross Weight(Gms)',
 37: '345.08',
 38: '345.08',
 39: 'Stone Weight(CTS]',
 40: '0',
 41: 'Value of Supply',
 42: '179117.59',
 43: 'Place of Supply',
 44: 'Net Weight(Gms)',
 45: '345.08',
 46: '345.08',
 47: 'GST Rate',
 48: '0.03',
 49: '0.18',
 50: 'Grand Total',
 51: 'Rate per Gram',
 52: '519.0610583053206',
 53: ' ',
 54: 'Type of GST',
 55: 'CGST',
 56: 'SGST',
 57: 'IGST',
 58: 'CGST',
 59: 'SGST',
 60: 'IGST',
 61: 'TAMIL NADU',
 62: 'Value',
 63: '179117.59',
 64: '179117.59',
 65: '2686.76385',
 66: '2686.76385',
 67: '0',
 68: '0',
 69: '0',
 70: '0',
 71: '184491'}

In [137]:
gross_wt = ''
for x in new_d:
    if new_d[x].startswith('Gross'):        
        gross_wt = str(round(float(gross_wt+new_d[x+1]),2))
        
gross_wt

'345.08'

In [138]:
data_d['gross_wt'] = gross_wt
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08'}

In [139]:
value = ''
for x in new_d:
    if new_d[x].startswith('Value of Supply'):        
        value = value+new_d[x+1]
value_1 = float(value)
value_2 = round(value_1,2)
value_3 = str(value_2)
type(value_3)
value = float(value_3)
value

179117.59

In [140]:
data_d['value'] = value
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08',
 'value': 179117.59}

In [141]:
for x in new_d:
    if 'DC' in new_d[x]:
        doc_no = new_d[x]
doc_no_1 = doc_no.split("-")
doc_no_2 = [i.strip() for i in doc_no_1]
doc_no_2.remove('DC')
doc_no_3 = "-".join(doc_no_2)
doc_no_3

'CHOHB-1789'

In [142]:
data_d['doc_no'] = doc_no_3
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08',
 'value': 179117.59,
 'doc_no': 'CHOHB-1789'}

In [143]:
for x in new_d:
    if 'MADURAI - HO' in new_d[x]:
        address =  new_d[x+1]
ad = address.split(",")
add_1 = ad[0].strip()
add_2 = ad[1].strip()
print(add_1)
print(add_2)

196 2ND FLOOR
SUBA SHRI ARUN COMPLEX

In [144]:
data_d['from_office_add_1'] = add_1
data_d['from_office_add_2'] = add_2
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08',
 'value': 179117.59,
 'doc_no': 'CHOHB-1789',
 'from_office_add_1': '196 2ND FLOOR',
 'from_office_add_2': 'SUBA SHRI ARUN COMPLEX'}

In [145]:
for x in new_d:
    if '625016' in new_d[x]:
        city = new_d[x]
cty = city.split("-")
place= cty[0].strip()
pin_code = cty[1].strip()
pin_code

'625016'

In [146]:
data_d['from_city'] = place
data_d['from_city_pincode'] = pin_code
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08',
 'value': 179117.59,
 'doc_no': 'CHOHB-1789',
 'from_office_add_1': '196 2ND FLOOR',
 'from_office_add_2': 'SUBA SHRI ARUN COMPLEX',
 'from_city': 'MADURAI',
 'from_city_pincode': '625016'}

In [147]:
new_d

{0: 'BHIMA JEWELLERY MADURAI - HO',
 1: '196 2ND FLOOR , SUBA SHRI ARUN COMPLEX',
 2: 'MADURAI - 625016',
 3: 'GSTIN - 33AAIFB1068K1ZJ',
 4: 'Delivery Challan',
 5: 'Delivery Challan No',
 6: 'Date',
 7: 'Supporting Document No',
 8: 'Supporting Document Date',
 9: 'Details of the  Recipient/Consignee ( Job Worker)',
 10: 'Name',
 11: 'Address with  Pincode',
 12: 'State',
 13: 'State Code',
 14: 'GSTIN',
 15: 'Sl. No',
 16: '1',
 17: 'Total',
 18: 'Purpose: STOCK TRANSFER  TO TCY BRANCH',
 19: 'Total Amount in Words',
 20: 'Description of Goods for Job Work with Purpose',
 21: 'NEW GOLD ORNAMENTS',
 22: 'DC - CHOHB -1789',
 23: '2025-08-22 00:00:00',
 24: 'CHOHB -1789',
 25: '2025-08-22 00:00:00',
 26: 'BHIMA JEWELLERY TRICHY',
 27: '32/33 CHINNA KADAI VEEDHI',
 28: 'NSB ROAD',
 29: 'TRICHY',
 30: 'TAMIL NADU',
 31: '33',
 32: '33AAIFB1068K1ZJ',
 33: 'HSN Code',
 34: '71131910',
 35: 'Quantity',
 36: 'Gross Weight(Gms)',
 37: '345.08',
 38: '345.08',
 39: 'Stone Weight(CTS]',
 40: '0',
 41: 'Value of Supply',
 42: '179117.59',
 43: 'Place of Supply',
 44: 'Net Weight(Gms)',
 45: '345.08',
 46: '345.08',
 47: 'GST Rate',
 48: '0.03',
 49: '0.18',
 50: 'Grand Total',
 51: 'Rate per Gram',
 52: '519.0610583053206',
 53: ' ',
 54: 'Type of GST',
 55: 'CGST',
 56: 'SGST',
 57: 'IGST',
 58: 'CGST',
 59: 'SGST',
 60: 'IGST',
 61: 'TAMIL NADU',
 62: 'Value',
 63: '179117.59',
 64: '179117.59',
 65: '2686.76385',
 66: '2686.76385',
 67: '0',
 68: '0',
 69: '0',
 70: '0',
 71: '184491'}

In [148]:
to_office = []
for x in new_d:
    if "BHIMA" in new_d[x]:
        to_office.append(new_d[x])
for i in to_office:
    if 'HO' in i:
        to_office.remove(i)
to_office_1 = "".join(to_office).strip()
to_office_1

'BHIMA JEWELLERY TRICHY'

In [149]:
data_d['to_office'] = to_office_1
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08',
 'value': 179117.59,
 'doc_no': 'CHOHB-1789',
 'from_office_add_1': '196 2ND FLOOR',
 'from_office_add_2': 'SUBA SHRI ARUN COMPLEX',
 'from_city': 'MADURAI',
 'from_city_pincode': '625016',
 'to_office': 'BHIMA JEWELLERY TRICHY'}

In [150]:
df

,0,1,2,3,4,5,6,7
0,BHIMA JEWELLERY MADURAI - HO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"196 2ND FLOOR , SUBA SHRI ARUN COMPLEX",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MADURAI - 625016,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GSTIN - 33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Delivery Challan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Delivery Challan No,NaN,DC - CHOHB -1789,NaN,NaN,NaN,NaN,NaN
6,Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
7,Supporting Document No,NaN,CHOHB -1789,NaN,NaN,NaN,NaN,NaN
8,Supporting Document Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
9,Details of the Recipient/Consignee ( Job Worker),NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Name,NaN,BHIMA JEWELLERY TRICHY,NaN,NaN,NaN,NaN,NaN
11,Address with Pincode,NaN,32/33 CHINNA KADAI VEEDHI,NaN,NaN,NaN,NaN,NaN
12,nan,NaN,NSB ROAD,NaN,NaN,NaN,NaN,NaN
13,nan,NaN,TRICHY,NaN,NaN,NaN,NaN,NaN
14,State,NaN,TAMIL NADU,NaN,NaN,NaN,NaN,NaN
15,State Code,NaN,33,NaN,NaN,Place of Supply,NaN,TAMIL NADU
16,GSTIN,NaN,33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN
17,Sl. No,Description of \nGoods for Job Work with Purpose,HSN \nCode,Quantity\n,NaN,NaN,Rate per \nGram,Value
18,nan,NaN,NaN,Gross Weight\n(Gms)\n,Stone Weight\n(CTS],Net Weight\n(Gms),NaN,NaN
19,1,NEW GOLD ORNAMENTS,71131910,345.08,NaN,345.08,519.061058,179117.59
20,nan,NaN,NaN,NaN,NaN,NaN,,NaN
21,Total,NaN,NaN,345.08,0,345.08,NaN,179117.59
22,Purpose: STOCK TRANSFER TO TCY BRANCH,NaN,NaN,NaN,Value of Supply,GST Rate,Type of GST,NaN
23,nan,NaN,NaN,NaN,179117.59,0.03,CGST,2686.76385
24,nan,NaN,NaN,NaN,NaN,NaN,SGST,2686.76385
25,nan,NaN,NaN,NaN,NaN,NaN,IGST,0
26,nan,NaN,NaN,NaN,NaN,0.18,CGST,0
27,nan,NaN,NaN,NaN,NaN,NaN,SGST,0
28,nan,NaN,NaN,NaN,NaN,NaN,IGST,0
29,nan,NaN,NaN,NaN,NaN,Grand Total,NaN,184491
30,Total Amount in Words,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
df.loc[13,2]

'TRICHY'

In [152]:
for  x in new_d:
    if to_office_1 in new_d[x]:
        to_office_add_1 = new_d[x+1].strip()
        to_office_add_1 = re.sub(r'[^A-Za-z0-9]+'," ",to_office_add_1)
        
to_office_add_1

'32 33 CHINNA KADAI VEEDHI'

In [153]:
data_d['to_office_add_1'] = to_office_add_1
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08',
 'value': 179117.59,
 'doc_no': 'CHOHB-1789',
 'from_office_add_1': '196 2ND FLOOR',
 'from_office_add_2': 'SUBA SHRI ARUN COMPLEX',
 'from_city': 'MADURAI',
 'from_city_pincode': '625016',
 'to_office': 'BHIMA JEWELLERY TRICHY',
 'to_office_add_1': '32 33 CHINNA KADAI VEEDHI'}

In [154]:
city_name = "".join(to_office).split()[-1]
city_name

'TRICHY'

In [155]:
city_lst =['MADURAI','RAJPALAYAM','DINDIGUL','TRICHY','SALEM']

In [156]:
for x in new_d:
    if to_office_1 in new_d[x]:
        to_office_add_2 = new_d[x+2].strip()
        to_office_add_2 = re.sub(r'[^A-Za-z0-9]+'," ",to_office_add_2)
to_office_add_2

'NSB ROAD'

In [157]:
data_d['to_office_add_2'] = to_office_add_2
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08',
 'value': 179117.59,
 'doc_no': 'CHOHB-1789',
 'from_office_add_1': '196 2ND FLOOR',
 'from_office_add_2': 'SUBA SHRI ARUN COMPLEX',
 'from_city': 'MADURAI',
 'from_city_pincode': '625016',
 'to_office': 'BHIMA JEWELLERY TRICHY',
 'to_office_add_1': '32 33 CHINNA KADAI VEEDHI',
 'to_office_add_2': 'NSB ROAD'}

In [158]:
df

,0,1,2,3,4,5,6,7
0,BHIMA JEWELLERY MADURAI - HO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"196 2ND FLOOR , SUBA SHRI ARUN COMPLEX",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MADURAI - 625016,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GSTIN - 33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Delivery Challan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Delivery Challan No,NaN,DC - CHOHB -1789,NaN,NaN,NaN,NaN,NaN
6,Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
7,Supporting Document No,NaN,CHOHB -1789,NaN,NaN,NaN,NaN,NaN
8,Supporting Document Date,NaN,2025-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN
9,Details of the Recipient/Consignee ( Job Worker),NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Name,NaN,BHIMA JEWELLERY TRICHY,NaN,NaN,NaN,NaN,NaN
11,Address with Pincode,NaN,32/33 CHINNA KADAI VEEDHI,NaN,NaN,NaN,NaN,NaN
12,nan,NaN,NSB ROAD,NaN,NaN,NaN,NaN,NaN
13,nan,NaN,TRICHY,NaN,NaN,NaN,NaN,NaN
14,State,NaN,TAMIL NADU,NaN,NaN,NaN,NaN,NaN
15,State Code,NaN,33,NaN,NaN,Place of Supply,NaN,TAMIL NADU
16,GSTIN,NaN,33AAIFB1068K1ZJ,NaN,NaN,NaN,NaN,NaN
17,Sl. No,Description of \nGoods for Job Work with Purpose,HSN \nCode,Quantity\n,NaN,NaN,Rate per \nGram,Value
18,nan,NaN,NaN,Gross Weight\n(Gms)\n,Stone Weight\n(CTS],Net Weight\n(Gms),NaN,NaN
19,1,NEW GOLD ORNAMENTS,71131910,345.08,NaN,345.08,519.061058,179117.59
20,nan,NaN,NaN,NaN,NaN,NaN,,NaN
21,Total,NaN,NaN,345.08,0,345.08,NaN,179117.59
22,Purpose: STOCK TRANSFER TO TCY BRANCH,NaN,NaN,NaN,Value of Supply,GST Rate,Type of GST,NaN
23,nan,NaN,NaN,NaN,179117.59,0.03,CGST,2686.76385
24,nan,NaN,NaN,NaN,NaN,NaN,SGST,2686.76385
25,nan,NaN,NaN,NaN,NaN,NaN,IGST,0
26,nan,NaN,NaN,NaN,NaN,0.18,CGST,0
27,nan,NaN,NaN,NaN,NaN,NaN,SGST,0
28,nan,NaN,NaN,NaN,NaN,NaN,IGST,0
29,nan,NaN,NaN,NaN,NaN,Grand Total,NaN,184491
30,Total Amount in Words,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
c = ['BHIMA JEWELLERY MADURAI']
"".join(c).split()[-1]

'MADURAI'

In [160]:
city_name = "".join(to_office).split()[-1]
city_name

'TRICHY'

In [161]:
city_names =[new_d[x] for x in new_d if city_name in new_d[x]]
city_names

['BHIMA JEWELLERY TRICHY', 'TRICHY']

In [162]:
if len(city_names)>1:
    data_d['to_office_city'] = city_names[-1].strip()
else:
    data_d['to_office_city'] = "".join(city_names).split()[-1].strip()

In [163]:
data_d['to_office_city'] = re.sub(r'[^a-zA-Z]','',data_d['to_office_city']).strip()

In [164]:
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08',
 'value': 179117.59,
 'doc_no': 'CHOHB-1789',
 'from_office_add_1': '196 2ND FLOOR',
 'from_office_add_2': 'SUBA SHRI ARUN COMPLEX',
 'from_city': 'MADURAI',
 'from_city_pincode': '625016',
 'to_office': 'BHIMA JEWELLERY TRICHY',
 'to_office_add_1': '32 33 CHINNA KADAI VEEDHI',
 'to_office_add_2': 'NSB ROAD',
 'to_office_city': 'TRICHY'}

In [165]:
if data_d['to_office_city'] == 'MADURAI':
    data_d['to_office_add_1'] = '137'
    data_d['to_office_add_2'] = 'WEST MASI STREET'
else:
    data_d['to_office_add_1'] = data_d['to_office_add_1']
    data_d['to_office_add_2'] = data_d['to_office_add_2']

In [166]:
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08',
 'value': 179117.59,
 'doc_no': 'CHOHB-1789',
 'from_office_add_1': '196 2ND FLOOR',
 'from_office_add_2': 'SUBA SHRI ARUN COMPLEX',
 'from_city': 'MADURAI',
 'from_city_pincode': '625016',
 'to_office': 'BHIMA JEWELLERY TRICHY',
 'to_office_add_1': '32 33 CHINNA KADAI VEEDHI',
 'to_office_add_2': 'NSB ROAD',
 'to_office_city': 'TRICHY'}

In [167]:
new_d

{0: 'BHIMA JEWELLERY MADURAI - HO',
 1: '196 2ND FLOOR , SUBA SHRI ARUN COMPLEX',
 2: 'MADURAI - 625016',
 3: 'GSTIN - 33AAIFB1068K1ZJ',
 4: 'Delivery Challan',
 5: 'Delivery Challan No',
 6: 'Date',
 7: 'Supporting Document No',
 8: 'Supporting Document Date',
 9: 'Details of the  Recipient/Consignee ( Job Worker)',
 10: 'Name',
 11: 'Address with  Pincode',
 12: 'State',
 13: 'State Code',
 14: 'GSTIN',
 15: 'Sl. No',
 16: '1',
 17: 'Total',
 18: 'Purpose: STOCK TRANSFER  TO TCY BRANCH',
 19: 'Total Amount in Words',
 20: 'Description of Goods for Job Work with Purpose',
 21: 'NEW GOLD ORNAMENTS',
 22: 'DC - CHOHB -1789',
 23: '2025-08-22 00:00:00',
 24: 'CHOHB -1789',
 25: '2025-08-22 00:00:00',
 26: 'BHIMA JEWELLERY TRICHY',
 27: '32/33 CHINNA KADAI VEEDHI',
 28: 'NSB ROAD',
 29: 'TRICHY',
 30: 'TAMIL NADU',
 31: '33',
 32: '33AAIFB1068K1ZJ',
 33: 'HSN Code',
 34: '71131910',
 35: 'Quantity',
 36: 'Gross Weight(Gms)',
 37: '345.08',
 38: '345.08',
 39: 'Stone Weight(CTS]',
 40: '0',
 41: 'Value of Supply',
 42: '179117.59',
 43: 'Place of Supply',
 44: 'Net Weight(Gms)',
 45: '345.08',
 46: '345.08',
 47: 'GST Rate',
 48: '0.03',
 49: '0.18',
 50: 'Grand Total',
 51: 'Rate per Gram',
 52: '519.0610583053206',
 53: ' ',
 54: 'Type of GST',
 55: 'CGST',
 56: 'SGST',
 57: 'IGST',
 58: 'CGST',
 59: 'SGST',
 60: 'IGST',
 61: 'TAMIL NADU',
 62: 'Value',
 63: '179117.59',
 64: '179117.59',
 65: '2686.76385',
 66: '2686.76385',
 67: '0',
 68: '0',
 69: '0',
 70: '0',
 71: '184491'}

In [168]:
to_office_add_2

'NSB ROAD'

In [169]:
city_lst

['MADURAI', 'RAJPALAYAM', 'DINDIGUL', 'TRICHY', 'SALEM']

In [170]:
city_lst.extend(['RAJAPALYAM','RAJAPALAYAM'])

In [171]:
city_map ={'DINDUGAL':'DINDIGUL','RAJPALAYAM':'RAJAPALAYAM'}

In [172]:
'''for wrong,correct in city_map.items():
    #if wrong in data_d['to_office_city']:
        data_d['to_office_city'] = correct'''

"for wrong,correct in city_map.items():\n    #if wrong in data_d['to_office_city']:\n        data_d['to_office_city'] = correct"

In [173]:
city_lst

['MADURAI',
 'RAJPALAYAM',
 'DINDIGUL',
 'TRICHY',
 'SALEM',
 'RAJAPALYAM',
 'RAJAPALAYAM']

In [174]:
pincode_d = {'TRICHY' : '620002',
'MADURAI' : '625001',
'RAJAPALYAM':'626117',
'DINDIGUL':'624001',
'DINDUGUL':'624001',
'RAJAPALAYAM':'626117'}

In [175]:
pincode_d

{'TRICHY': '620002',
 'MADURAI': '625001',
 'RAJAPALYAM': '626117',
 'DINDIGUL': '624001',
 'DINDUGUL': '624001',
 'RAJAPALAYAM': '626117'}

In [176]:
pincode_d['DINDUGAL'] = '624001'

In [177]:
pincode_d['RAJPALAYAM'] = '626117'

In [178]:
pincode_d

{'TRICHY': '620002',
 'MADURAI': '625001',
 'RAJAPALYAM': '626117',
 'DINDIGUL': '624001',
 'DINDUGUL': '624001',
 'RAJAPALAYAM': '626117',
 'DINDUGAL': '624001',
 'RAJPALAYAM': '626117'}

In [179]:
city_lst

['MADURAI',
 'RAJPALAYAM',
 'DINDIGUL',
 'TRICHY',
 'SALEM',
 'RAJAPALYAM',
 'RAJAPALAYAM']

In [180]:
city_lst.append('DINDUGAL')
city_lst

['MADURAI',
 'RAJPALAYAM',
 'DINDIGUL',
 'TRICHY',
 'SALEM',
 'RAJAPALYAM',
 'RAJAPALAYAM',
 'DINDUGAL']

In [181]:
city_lst

['MADURAI',
 'RAJPALAYAM',
 'DINDIGUL',
 'TRICHY',
 'SALEM',
 'RAJAPALYAM',
 'RAJAPALAYAM',
 'DINDUGAL']

In [182]:
for i in pincode_d:
    print(pincode_d[data_d['to_office_city']])

620002
620002
620002
620002
620002
620002
620002
620002

In [183]:
if data_d['to_office_city'] in city_lst:
    data_d['pincode'] = pincode_d[data_d['to_office_city']]

In [184]:
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08',
 'value': 179117.59,
 'doc_no': 'CHOHB-1789',
 'from_office_add_1': '196 2ND FLOOR',
 'from_office_add_2': 'SUBA SHRI ARUN COMPLEX',
 'from_city': 'MADURAI',
 'from_city_pincode': '625016',
 'to_office': 'BHIMA JEWELLERY TRICHY',
 'to_office_add_1': '32 33 CHINNA KADAI VEEDHI',
 'to_office_add_2': 'NSB ROAD',
 'to_office_city': 'TRICHY',
 'pincode': '620002'}

In [185]:
df_1= pd.DataFrame(list(data_d.items()),columns=['Items','Values'])
df_1

                Items                     Values
0              gst_no       33AAIFB1068K1ZJGSTIN
1              hsn_no                   71131910
2               units                        Gms
3            sub_type             STOCK TRANSFER
4                item         NEW GOLD ORNAMENTS
5            gross_wt                     345.08
6               value                  179117.59
7              doc_no                 CHOHB-1789
8   from_office_add_1              196 2ND FLOOR
9   from_office_add_2     SUBA SHRI ARUN COMPLEX
10          from_city                    MADURAI
11  from_city_pincode                     625016
12          to_office     BHIMA JEWELLERY TRICHY
13    to_office_add_1  32 33 CHINNA KADAI VEEDHI
14    to_office_add_2                   NSB ROAD
15     to_office_city                     TRICHY
16            pincode                     620002

In [186]:
data_d

{'gst_no': '33AAIFB1068K1ZJGSTIN',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '345.08',
 'value': 179117.59,
 'doc_no': 'CHOHB-1789',
 'from_office_add_1': '196 2ND FLOOR',
 'from_office_add_2': 'SUBA SHRI ARUN COMPLEX',
 'from_city': 'MADURAI',
 'from_city_pincode': '625016',
 'to_office': 'BHIMA JEWELLERY TRICHY',
 'to_office_add_1': '32 33 CHINNA KADAI VEEDHI',
 'to_office_add_2': 'NSB ROAD',
 'to_office_city': 'TRICHY',
 'pincode': '620002'}

In [187]:
# 1.Selemium setup
chrome_options = Options()

# disable automation controlled message
chrome_options.add_experimental_option("excludeSwitches", ["enable-automation"])
chrome_options.add_experimental_option('useAutomationExtension', False)

# optionally mask webdriver property
chrome_options.add_argument("--disable-blink-features=AutomationControlled")

driver = webdriver.Chrome(service=Service("chromedriver.exe"), options=chrome_options)
#driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://ewaybillgst.gov.in")
wait =WebDriverWait(driver,20)

# 2. Click login click

login_link = wait.until(EC.element_to_be_clickable((By.LINK_TEXT,"Login")))
login_link.click()

# 3.Fill Form

user_name_input = wait.until(EC.presence_of_element_located((By.ID, "txt_username")))
password_input = driver.find_element(By.ID,'txt_password')
captcha_input = driver.find_element(By.ID, 'txtCaptcha')

user_name_input.send_keys('BHIMAMADURAI')
password_input.send_keys('Eway@1234')

# 4. Capture Captcha

captcha_img = wait.until(EC.presence_of_element_located((By.XPATH, "//img[contains(@src, 'Captcha')]")))

#5. Save Captcha ScreenShot

captcha_img.screenshot("captcha.png")
print('Catcha image saved as png')

# 6.Show Captcha to user
input_image = Image.open('captcha.png')
plt.imshow(input_image)
plt.axis("off")  # Hide axis
plt.show()


# 7. Entering the Captcha manually

captcha_value = input('Enter the captcha')
captcha_input.send_keys(captcha_value)

# 8.Click Login

login_button = driver.find_element(By.ID,'btnLogin')
login_button.click()

# 9.OTp field

try:
    WebDriverWait(driver,5).until(EC.alert_is_present())
    alert = driver.switch_to.alert
    print("Alert Text:",alert.text)
    alert.accept()
    print(" Alert handled, proceeding...")
except NoAlertPresentException:
    print('No Alert Appeared')

otp_input = wait.until(EC.presence_of_element_located((By.ID, "OtpTxt")))
otp_value = input('Enter the OTP')
otp_input.send_keys(otp_value)

# 10. Click Submit button

otp_submit_btn = driver.find_element(By.ID, "btnsubmit")
otp_submit_btn.click()

print(" OTP submitted successfully")

# --- Navigate to EWB for Gold ---
ewaybill_menu = wait.until(EC.element_to_be_clickable((By.LINK_TEXT, "e-Waybill")))
ewaybill_menu.click()

ewb_gold_link = wait.until(EC.element_to_be_clickable((By.LINK_TEXT, "EWB for Gold")))
ewb_gold_link.click()

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=139.0.7258.155)
Stacktrace:
	GetHandleVerifier [0x0x7ff7561d6b55+79621]
	GetHandleVerifier [0x0x7ff7561d6bb0+79712]
	(No symbol) [0x0x7ff755f6c0ea]
	(No symbol) [0x0x7ff755f44601]
	(No symbol) [0x0x7ff755ff25fe]
	(No symbol) [0x0x7ff756012d02]
	(No symbol) [0x0x7ff755feaf13]
	(No symbol) [0x0x7ff755fb4151]
	(No symbol) [0x0x7ff755fb4ee3]
	GetHandleVerifier [0x0x7ff75649686d+2962461]
	GetHandleVerifier [0x0x7ff756490b8d+2938685]
	GetHandleVerifier [0x0x7ff7564af74d+3064573]
	GetHandleVerifier [0x0x7ff7561f0c9e+186446]
	GetHandleVerifier [0x0x7ff7561f8a6f+218655]
	GetHandleVerifier [0x0x7ff7561df944+115956]
	GetHandleVerifier [0x0x7ff7561dfaf9+116393]
	GetHandleVerifier [0x0x7ff7561c5f28+10968]
	BaseThreadInitThunk [0x0x7ffe51f07374+20]
	RtlUserThreadStart [0x0x7ffe5305cc91+33]

In [ ]:
outward_radio = wait.until(EC.element_to_be_clickable((By.ID, "ctl00_ContentPlaceHolder1_rbtOutwardInward_0")))
outward_radio.click()
print(outward_radio.is_selected())

True

In [ ]:
others_radio = wait.until(EC.element_to_be_clickable((By.ID, "ctl00_ContentPlaceHolder1_rbtOutSubType_8")))
others_radio.click()
print(others_radio.is_selected())

True

In [ ]:
others_input = wait.until(EC.presence_of_element_located((By.ID, "txtSpecify")))
others_input.send_keys(data_d['sub_type'])
print('Successefully Entered')

Successefully Entered

In [ ]:
doc_type_dropdown = wait.until(EC.presence_of_element_located((By.ID, "ddlDocType")))

select = Select(doc_type_dropdown)

select.select_by_value('CHL')

print("Document Type set to Delivery Challan")

Document Type set to Delivery Challan

In [ ]:
doc_no_input = wait.until(EC.presence_of_element_located((By.ID, "txtDocNo")))
doc_no_input.clear()
doc_no_input_value  = data_d['doc_no']
doc_no_input.send_keys(doc_no_input_value)

print('Successfully Entered')

Successfully Entered

In [ ]:
current_date = date.today()
print(current_date)
formatted_date = current_date.strftime("%d/%m/%Y")
print(formatted_date)

2025-09-01
01/09/2025

In [ ]:
current_date = date.today()
formatted_date = current_date.strftime("%d/%m/%Y")
date_input = wait.until(EC.presence_of_element_located((By.ID, 'txtDocDate')))
date_input.send_keys(formatted_date)
date_input.send_keys(Keys.TAB)
print("Document Date entered:", formatted_date)

Document Date entered: 01/09/2025

In [ ]:
trans_type = wait.until(EC.presence_of_element_located((By.ID, "ddlTransType")))

select = Select(trans_type)

select.select_by_value('1')

print("Transction_type set to Regular")

Transction_type set to Regular

In [ ]:
firm_name_input = wait.until(EC.presence_of_element_located((By.ID, "ctl00_ContentPlaceHolder1_txtFromTrdName")))
firm_name_input.clear()
firm_name_input.send_keys("BHIMA JEWELLERY MADURAI - HO")
print('Successfully entered')

Successfully entered

In [ ]:
addrss_1_input = wait.until(EC.presence_of_element_located((By.ID, "txtFromAddr1")))
addrss_1_input.clear()
addrss_1_input.send_keys(data_d['from_office_add_1'])
print('Successfully entered')

Successfully entered

In [ ]:
addrss_2_input = wait.until(EC.presence_of_element_located((By.ID, "txtFromAddr2")))
addrss_2_input.clear()
addrss_2_input.send_keys(data_d['from_office_add_2'])
print('Successfully entered')

Successfully entered

In [ ]:
pincode_input = wait.until(EC.presence_of_element_located((By.ID, "ctl00_ContentPlaceHolder1_txtFromPincode")))
pincode_input.clear()
pincode_input.send_keys(data_d['from_city_pincode'])

In [ ]:
time.sleep(2)

In [ ]:
to_firm_gstnum_input = wait.until(EC.presence_of_element_located((By.ID, "ctl00_ContentPlaceHolder1_txtToGSTIN")))
#to_firm_gstnum_input.clear()
to_firm_gstnum_input.send_keys(data_d['gst_no'])
print('Successfully entered')

Successfully entered

In [ ]:
time.sleep(4)

In [ ]:
data_d

{'gst_no': '33AAIFB1068K1ZJ',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '4765.64',
 'value': '45845466.42',
 'doc_no': 'CHOGI-6',
 'from_office_add_1': '196 2ND FLOOR',
 'from_office_add_2': 'SUBA SHRI ARUN COMPLEX',
 'from_city': 'MADURAI',
 'from_city_pincode': '625016',
 'to_office': 'BHIMA JEWELLERY MADURAI',
 'to_office_add_1': '137',
 'to_office_add_2': 'WEST MASI STREET',
 'to_office_city': 'MADURAI',
 'pincode': '625001'}

In [ ]:
data_d['to_office']

'BHIMA JEWELLERY MADURAI'

In [ ]:
to_name_input = wait.until(EC.presence_of_element_located((By.ID, "ctl00_ContentPlaceHolder1_txtToTrdName")))
to_name_input.clear()
to_name_input_value  = data_d['to_office']
to_name_input.send_keys(to_name_input_value.upper())
print('Successfully entered')

Successfully entered

In [ ]:
to_office_add_1_input = wait.until(EC.presence_of_element_located((By.ID, "txtToAddr1")))
to_office_add_1_input.clear()
to_office_add_1_input_value = data_d['to_office_add_1']
to_office_add_1_input.send_keys(to_office_add_1_input_value)

In [ ]:
to_office_add_2_input = wait.until(EC.presence_of_element_located((By.ID, "txtToAddr2")))
to_office_add_2_input.clear()
to_office_add_2_input.send_keys(data_d['to_office_add_2'])

In [ ]:
to_place_input = wait.until(EC.presence_of_element_located((By.ID, "ctl00_ContentPlaceHolder1_txtToPlace")))
to_place_input.clear()
to_place_input.send_keys(data_d['to_office_city'])

In [ ]:
to_pincode_input = wait.until(EC.presence_of_element_located((By.ID, "ctl00_ContentPlaceHolder1_txtToPincode")))
to_pincode_input.clear()
to_pincode_input.send_keys(data_d['pincode'])

In [ ]:
time.sleep(2)

In [ ]:
item = data_d['item']
pdt_inpt = wait.until(EC.presence_of_element_located((By.ID, "txtProductName_1")))
pdt_inpt.clear()
pdt_inpt.send_keys(item)
#pdt_inpt.send_keys(Keys.RETURN)
pdt_inpt.send_keys(Keys.TAB)

In [ ]:
item_des = wait.until(EC.presence_of_element_located((By.ID, "txt_Description_1")))
item_des.clear()
item_des.send_keys(item)
item_des.send_keys(Keys.TAB)

In [ ]:
hsn_inpt = wait.until(EC.presence_of_element_located((By.ID, "txt_HSN_1")))
hsn_inpt.clear()
hsn_inpt.send_keys(data_d['hsn_no'])
hsn_inpt.send_keys(Keys.TAB)

In [ ]:
quant = data_d['gross_wt']
quant_inpt = wait.until(EC.presence_of_element_located((By.ID, "txt_Quanity_1")))
quant_inpt.clear()
quant_inpt.send_keys(quant)
quant_inpt.send_keys(Keys.TAB)

In [ ]:
units = wait.until(EC.presence_of_element_located((By.ID, "txt_Unit_1")))
units.clear()
units.send_keys(data_d['units'])
units.send_keys(Keys.TAB)

In [ ]:
value_inpt= float(data_d['value'])
value = wait.until(EC.presence_of_element_located((By.ID, "txt_TRC_1")))
value.clear()
value.send_keys(value_inpt)
value.send_keys(Keys.TAB)

In [ ]:
tax_select = wait.until(EC.presence_of_element_located((By.ID, "SelectCSGST_1")))

# Use Select helper
select = Select(tax_select)
select.select_by_value("1.500")
time.sleep(4)

In [ ]:
# Wait for CGST field value after taxable entered
cgst_inpt = wait.until(EC.presence_of_element_located((By.ID, "txtCGST")))
sgst_inpt = wait.until(EC.presence_of_element_located((By.ID, "txtSGST")))

# Read the auto-filled values
cgst_val = cgst_inpt.get_attribute("value")
sgst_val = sgst_inpt.get_attribute("value")

# Convert to float safely
if cgst_val:
    cgst_val = int(round(float(cgst_val),0))
if sgst_val:
    sgst_val = int(round(float(sgst_val),0))

In [ ]:
time.sleep(3)

In [ ]:
grand_total = wait.until(EC.presence_of_element_located((By.ID, "txtTotInvVal")))

grand_tot_val = grand_total.get_attribute("value")

grand_tot_val = math.floor(float(grand_tot_val))

grand_total.clear()
grand_total.send_keys(str(grand_tot_val))

In [ ]:
time.sleep(2)

In [ ]:
data_d

{'gst_no': '33AAIFB1068K1ZJ',
 'hsn_no': '71131910',
 'units': 'Gms',
 'sub_type': 'STOCK TRANSFER',
 'item': 'NEW GOLD ORNAMENTS',
 'gross_wt': '4765.64',
 'value': '45845466.42',
 'doc_no': 'CHOGI-6',
 'from_office_add_1': '196 2ND FLOOR',
 'from_office_add_2': 'SUBA SHRI ARUN COMPLEX',
 'from_city': 'MADURAI',
 'from_city_pincode': '625016',
 'to_office': 'BHIMA JEWELLERY MADURAI',
 'to_office_add_1': '137',
 'to_office_add_2': 'WEST MASI STREET',
 'to_office_city': 'MADURAI',
 'pincode': '625001'}

In [ ]:
lst = [i for i in range(1,11)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
n = int(input('Enter the number'))
lst[n:]

[7, 8, 9, 10]